<div class="head-component">
    <div class="gray-background">
      <div class="circle-profile">Image</div>
    </div>
    <div class="profile">
      <div class="profile-name">John Doe</div>
      <div class="profile-bio">Bio goes here</div>
      <div class="profile-location">
        <i class="fa-solid fa-location-dot"></i>
        <span>Oriando</span>
      </div>
      <div class="profile-social-media">
        Twitter: https:/twitter.com/john_doe
      </div>
    </div>
  </div>
  