<div class="bottom">
    <div class="bottom-container">
      <div class="number-container">
        <span class="num-btn"><i class="fa-solid fa-backward"></i></span>
        <span class="num-btn">1</span>
        <span class="num-btn">2</span>
        <span class="num-btn">3</span>
        <span class="num-btn">4</span>
        <span class="num-btn">5</span>
        <span class="num-btn">6</span>
        <span class="num-btn">7</span>
        <span class="num-btn">8</span>
        <span class="num-btn">9</span>
        <span class="num-btn"><i class="fa-solid fa-forward"></i></span>
      </div>
      <div class="arraw-btn">
        <span class="arraw"><i class="fa-solid fa-arrow-left"></i> <span>Older</span></span>
        <span class="arraw blue"><span>Newer</span> <i class="fa-solid fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  